<launch>
  <!-- Gazebo and robot -->
  <include file="$(find test_pr2_self_test_gazebo)/gazebo_util/pr2_arm_gazebo.launch" />

  <!-- Used for full arm production test --> 
  <include file="$(find qualification)/tests/full_arm_test/counterbalance_test.launch" />

  <!-- Expanding bounds for errors, for gazebo -->
  <group ns="test_controller" >
    <group ns="lift">
      <param name="mse" type="double" value="12.0" />
      <param name="avg_abs" type="double" value="6.0" />
      <param name="avg_eff" type="double" value="3.0" />
    </group>
    <group ns="flex">
      <param name="mse" type="double" value="8.0" />
      <param name="avg_abs" type="double" value="4.0" />
      <param name="avg_eff" type="double" value="3.0" />
    </group>
  </group>
  
  <!-- Test: asserts we have result service and that we passed -->
   <test test-name="counterbalance_full_arm" time-limit="180" 
         pkg="test_pr2_self_test_gazebo" name="test_counterbalance_full_arm"
         type="check_pr2_self_test.py" />
   
</launch>
