<launch>
  <!-- Gazebo and robot -->
  <include file="$(find test_pr2_self_test_gazebo)/gazebo_util/pr2_robot_gazebo.launch" />

  <include file="$(find qualification)/tests/head_test/hysteresis_head_tilt.launch" />

  <!-- Test: asserts we have checkout service and that we passed or human'd -->
  <test type="check_pr2_self_test.py" pkg="test_pr2_self_test_gazebo" name="test_hysteresis"
        args="--expect_fail" test-name="pr2_head_tilt_hysteresis" time-limit="600" />
</launch>
