<launch>
  <!-- Gazebo and robot -->
  <include file="$(find test_pr2_self_test_gazebo)/gazebo_util/pr2_robot_gazebo.launch" />

  <param name="visual_runner_timeout" type="double" value="5.0" />
  <include file="$(find qualification)/onboard/checkout/robot_checkout.launch" />
  
  <!-- Test: asserts we have checkout service and that we passed -->
  <test test-name="pr2_checkout" pkg="test_pr2_self_test_gazebo" name="test_checkout"
        type="check_pr2_self_test.py" time-limit="180" retry="2" />
</launch>
