<launch>
  <!-- Gazebo and robot -->
  <include file="$(find test_pr2_self_test_gazebo)/gazebo_util/pr2_robot_gazebo.launch" />

  <include file="$(find qualification)/tests/head_test/sinesweep_head_pan.launch" />

  <!-- Test: asserts we have result service and that we passed or human'd -->
  <test type="check_pr2_self_test.py"  pkg="test_pr2_self_test_gazebo" name="test_sinesweep"
        args="--human_ok" test-name="pr2_sinesweep" time-limit="300" />

</launch>
