<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    <param name="velocity" type="double" value="1.5" />
    <param name="max_effort" type="double" value="2.0" />
    <param name="max_expected" type="double" value="0.035" />
    <param name="min_expected" type="double" value="-0.035" />
    <param name="max_position" type="double" value="0" />
    <param name="min_position" type="double" value="0" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.1" />
    <param name="sd_max" type="double" value="0.07" />

    <group ns="velocity_controller" clear_params="true">
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="motor_joint" />
      <param name="pid/p" type="double" value="0.02" />
      <param name="pid/i" type="double" value="0.35" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="0.04" />
    </group>
  </group>
  
  <node pkg="pr2_controller_manager" type="spawner.py"
        name="$(anon hyst_spawner)" args="test_controller" />
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py"
        name="hyst_analysis" />
</launch>
