<launch>
   <!-- Pulls description from qualification system -->
   <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/r_forearm_gripper.xacro.xml'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node pkg="gazebo_plugin" type="urdf2factory" args="robot_description" respawn="false" output="screen"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>
