<launch>
  <node name="wge100_set_name" pkg="qualification" type="wge100_set_name.py" output="screen">
    <param name="camera_name" type="str" value="stereo_narrow_l" />
    <param name="camera_ip" type="str" value="10.68.0.42" />
    <param name="programming_ip" type="str" value="$(env WGE100_IP)" />
  </node>
</launch>
