<launch>
  <node name="wge100_set_name" pkg="qualification" type="wge100_set_name.py" output="screen">
    <param name="camera_name" type="str" value="wide_stereo_l" />
    <param name="camera_ip" type="str" value="10.68.0.45" />
    <param name="programming_ip" type="str" value="10.68.0.45" />
  </node>
</launch>
