<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    <param name="velocity" type="double" value="1.5" />
    <param name="max_effort" type="double" value="1.0" />
    <param name="max_expected" type="double" value="0.50" />
    <param name="min_expected" type="double" value="-0.65" />
    <param name="max_position" type="double" value="0.63" />
    <param name="min_position" type="double" value="-3.73" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.10" />
    <param name="sd_max" type="double" value="0.13" />
    
    <group ns="velocity_controller" clear_params="true">
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="r_upper_arm_roll_joint" />
      <param name="pid/p" type="double" value="1.0" />
      <param name="pid/i" type="double" value="20.0" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="2.5" />
    </group>
  </group>

  <node pkg="pr2_controller_manager" type="spawner"
        args="test_controller" name="hyst_spawner" />
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py"
        name="hyst_analysis" />
</launch>
