<launch>
  <include file="$(find qualification)/tests/shoulder_test/shoulder.launch" />
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/shoulder_dummy_ua.urdf.xacro'" />
    
    <!-- Uses eth3 to run wge100 camera -->
  <include file="$(find qualification)/tests/upperarm_test/ua_wge100.launch" />
</launch>
