<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="test_host_root" pkg="qualification"
        type="mcb_prog_conf.py" name="shoulder_lift_motor_conf"
        args="-c -n 1 --motor=r_shoulder_lift_motor,0" />

  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" />
</launch>
