<launch>
  <!-- Projector on -->
  <include file="$(find pr2_camera_synchronizer)/projector_on.launch" />

  <!-- Head and body controllers -->
  <include file="$(find life_test)/pr2_test/pr2_body_controllers.launch" />

  <!-- Arm controllers -->
  <include file="$(find life_test)/pr2_test/pr2_arm_controllers.launch" />

  <!-- Base driving around -->
  <include file="$(find base_life_test)/base_life_test.launch" /> 

  <!-- Joystick for teleoping safely -->
  <include file="$(find life_test)/pr2_test/teleop_pr2_burn.launch" />

  <!-- Joystick restart node. R2 on PS3 joy to restart -->
  <node pkg="life_test" type="pr2_drive_restart.py" name="pr2_drive_restart" />

  <!-- Monitor (with transmission checker) -->
  <node pkg="pr2_hardware_test_monitor" type="pr2_hw_test_monitor"
        name="monitor" >
    <rosparam command="load"
              file="$(find life_test)/pr2_test/pr2_listeners.yaml" />
  </node>

  <node pkg="rostopic" type="rostopic" name="heartbeat_pub" 
        args="pub heartbeat std_msgs/Empty -r1" />
</launch>
