<launch>
  <!-- Torso controller, holds at 25 cm -->
  <node pkg="life_test" type="torso_lifter.py"
         name="torso_lifter" />

  <!-- Head moving -->
  <node pkg="life_test" type="head_cmder.py" name="head_cmder" />
  <rosparam command="load"
            file="$(find life_test)/head_test/pr2_head_position_controller.yaml" />
  <node name="head_position_controller_spawner" pkg="pr2_controller_manager"
        type="spawner" args="--wait-for=calibrated head_controller" />
  <node name="head_traj_unspawner" pkg="pr2_controller_manager" type="unspawner"
        args="head_traj_controller" />
  
  <!-- Laser tilt, controller is up by default -->
  <node pkg="life_test" type="laser_traj_cmd.py"
        name="laser_cmder" args="laser_tilt_controller" />
</launch>
