<launch>
  <include file="$(find pr2_arm_navigation_actions)/launch/both_arms_collision_free_trajectory_control.launch" />

  <rosparam command="load" ns="trajectory_filter" 
  	    file="$(find life_test)/pr2_test/config/joint_limits.yaml" />
  <param name="robot_description_collision/robot_padd" type="double" value="0.01" /> 

  <node pkg="life_test" type="both_arm_cmder.py" name="both_arm_cmder_no_collision" />

  <node pkg="life_test" type="change_joint_controller_gains.py" name="change_joint_controller_gains_py" />

</launch>
