<launch>
  <!-- Projector on -->
  <include file="$(find pr2_camera_synchronizer)/projector_on.launch" />

  <!-- Arms and head -->
  <include file="$(find life_test)/pr2_test/pr2_controllers.launch" />

  <!-- Base driving around -->
  <include file="$(find base_life_test)/base_life_test.launch" /> 

  <!-- Joystick for teleoping safely -->
  <include file="$(find life_test)/pr2_test/teleop_pr2_burn.launch" />

  <!-- Monitor (with transmission checker) -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" >
    <rosparam command="load"
              file="$(find life_test)/pr2_test/pr2_listeners.yaml" />
  </node>

  <node pkg="rostopic" type="rostopic" name="heartbeat_pub" 
        args="pub heartbeat std_msgs/Empty -r1" />
</launch>
