<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    
    <param name="velocity" type="double" value="1.5" />
    <param name="max_effort" type="double" value="2.0" />
    <param name="max_expected" type="double" value="0.02" />
    <param name="min_expected" type="double" value="-0.02" />
    <param name="max_position" type="double" value="0" />
    <param name="min_position" type="double" value="0" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.20" />
    <param name="sd_max" type="double" value="0.20" />
    
    <group ns="velocity_controller" clear_params="true">
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="laser_tilt_motor_joint" />
      <param name="pid/p" type="double" value="0.005" />
      <param name="pid/i" type="double" value="0.08" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="0.015" />
    </group>
  </group>
  
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py" />
  <node pkg="pr2_mechanism_control" type="spawner.py" args="test_controller" />
</launch>
