<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    <param name="velocity" type="double" value="1.5" />
    <param name="max_effort" type="double" value="0.60" />
    <param name="max_expected" type="double" value="0.03" />
    <param name="min_expected" type="double" value="-0.17" />
    <param name="max_position" type="double" value="1.40" />
    <param name="min_position" type="double" value="-0.69" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.35" />
    <param name="sd_max" type="double" value="0.20" />
    <param name="slope" type="double" value="0.1035" />

    <group ns="velocity_controller" clear_params="true">
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="laser_tilt_mount_joint" />
      <param name="pid/p" type="double" value="0.20" />
      <param name="pid/i" type="double" value="10.00" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="0.40" />
    </group>
  </group>
  
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py"
        name="tilt_hyst_analysis"/>
  <node pkg="pr2_controller_manager" type="spawner"
        name="test_spawner" args="test_controller" />
</launch>
