<launch>
  <include file="$(find qualification)/tests/laser_tilt_test/laser_tilt.launch" />

  <!-- Launch hokuyo with sled -->
  <node machine="test_host" pkg="hokuyo_node"
        type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="/laser_tilt_link" />
    <param name="min_ang_degrees" type="double" value="-70.0" />
    <param name="max_ang_degrees" type="double" value="70.0" />
    <param name="skip" type="int" value="1" />
    <param name="intensity" value="true" />
  </node>
  
</launch>
