<launch>
  <!-- Robot desc and etherCAT -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/torso.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load" file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_torso_lift" name="cal_torso_lift" output="screen" />

  <!-- Controller -->
   <rosparam command="load" file="$(find pr2_controller_configuration)/pr2_joint_velocity_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="torso_lift_velocity_controller" name="torso_vel_spawner"
        output="screen" />

  <!-- Commander -->
  <node pkg="life_test" type="torso_cmder.py"
        machine="test_host" name="torso_cmder" />

  <!-- Monitor -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" machine="test_host" >
    <rosparam command="load" file="$(find life_test)/torso_test/torso_listeners.yaml" />
  </node>
</launch>
