<launch>
  <!-- Release arms for PR2 CB check -->
  <node pkg="pr2_controller_manager" type="unspawner" name="arm_unspawner"
        args="r_arm_controller l_arm_controller" />

  <!-- Hold arms in place -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_joint_position_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner" name="r_arm_spawner"
        args="--wait-for=calibrated r_shoulder_pan_position_controller r_upper_arm_roll_position_controller r_forearm_roll_position_controller r_wrist_flex_position_controller r_wrist_roll_position_controller" />
  <node pkg="pr2_controller_manager" type="spawner" name="l_arm_spawner"
        args="--wait-for=calibrated l_shoulder_pan_position_controller l_upper_arm_roll_position_controller l_forearm_roll_position_controller l_wrist_flex_position_controller l_wrist_roll_position_controller" />
  <node pkg="pr2_counterbalance_check" type="full_arm_holder.py"
        name="arm_holder" args="--wait-for=calibrated" />

  <!-- CB test controller only starts once arms are held -->
  <rosparam command="load"
            file="$(find pr2_counterbalance_check)/config/counterbalance_controller.yaml" />
</launch>
