<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/pr2_left_arm.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_l_shoulder_pan cal_l_shoulder_lift cal_l_upper_arm_roll cal_l_elbow_flex cal_l_forearm_roll cal_l_wrist cal_l_gripper"
        name="cal_arm" output="screen" />

  <!-- Controllers -->
  <include file="$(find life_test)/arm_test/controller_cartesian_trajectory_left.launch" />
  <node pkg="life_test" type="random_poses_left.py" name="random_poses" />

  <!-- Controller -->
  <group ns="l_gripper_effort_controller" >
    <param name="type" type="str" value="JointEffortController" />
    <param name="joint" type="str" value="l_gripper_joint" />
  </group>
  <node pkg="pr2_controller_manager" type="spawner"
        args="--wait-for=calibrated l_gripper_effort_controller" name="grip_spawn"
        output="screen" />
  <node pkg="life_test" type="gripper_cmder.py" name="gripper_cmder"
        args="l_gripper_effort_controller" />
  
  <!-- WGE100 cam -->
  <include file="$(find life_test)/wge100.launch" /> 

  <!-- Monitor (with transmission checker) -->
  <node pkg="pr2_hardware_test_monitor" type="pr2_hw_test_monitor"
        name="monitor" machine="test_host" >
    <rosparam command="load"
              file="$(find life_test)/arm_test/arm_left_listeners.yaml" />
  </node>
</launch>
