<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/upperarm_wrist.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load"
            file="$(find pr2_default_controllers)/pr2_calibration_controllers.yaml" />
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="cal_r_elbow_flex cal_r_forearm_roll" name="cal_upperarm" output="screen" />

  <!-- Controllers -->
  <rosparam command="load"
            file="$(find pr2_default_controllers)/pr2_joint_position_controllers.yaml" />
    <rosparam command="load"
            file="$(find pr2_default_controllers)/pr2_joint_effort_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="r_forearm_roll_effort_controller r_elbow_flex_position_controller"
        name="$(anon upperarm_spawner)" />
  <node machine="test_host" pkg="life_test" type="upperarm_cmder.py" />

  <!-- WGE100 cam -->
  <include file="$(find life_test)/upperarm_test/wge100.launch" />
  
  <!-- Monitor (with transmission checker) -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" machine="test_host" >
    <rosparam command="load"
              file="$(find life_test)/upperarm_test/upperarm_listeners.yaml" />
  </node>
</launch>
