<launch>
  <group ns="prosilica" clear_params="true">
    <include file="$(find prosilica_camera)/cam_settings.xml"/>
    <param name="acquisition_mode" type="str" value="Continuous"/>
    <param name="ip_address" type="str" value="10.68.0.20"/>
    <param name="x_offset" type="int" value="1275"/>
    <param name="y_offset" type="int" value="1000"/>
    <param name="width" type="int" value="50"/>
    <param name="height" type="int" value="50"/>
  
    <node pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />
  </group>

  <node name="prosilica" pkg="prosilica_camera" type="prosilica_node" output="screen" respawn="false">
    <remap from="camera" to="prosilica"/>
  </node>
</launch>
