<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find life_test)/arm_life_test/full_arm_cable_wrap.xml'" />

  <node machine="test_host_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robot_description"/>


  <!-- Calibration -->
  <node pkg="pr2_bringup" type="calibrate.py"
        args="$(find life_test)/arm_life_test/full_arm_cal.xml"
        output="screen" />
 
  <node machine="test_host" pkg="life_test" type="elbow_flex_life_test.py" args="roll" />

</launch>
