<launch>
  <!-- start gazebo with an empty plane -->
  <param name="use_sim_time" value="true" />

  <!-- Runs without gazebo window -->
  <include file="$(find gazebo)/launch/empty_world_no_x.launch"/>  
<!--  <include file="$(find gazebo)/launch/empty_world.launch"/>  -->

  <!-- Load robot description -->
  <node pkg="gazebo_tools" type="gazebo_model" name="spawn_pr2"
        args="-p robot_description spawn" respawn="false"  />

  <!-- Fake calibration message -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- Motors aren't halted -->
  <node pkg="rostopic" type="rostopic" name="fake_motors"
        args="pub pr2_etherCAT/motors_halted std_msgs/Bool false" />

  <!-- Controller diagnostics, robot state publisher -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />
</launch>
