<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find qualification)/tests/gripper_test/gripper_motor.urdf.xacro'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load" file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_r_gripper" name="cal_grip" output="screen" />


</launch>
