<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    <param name="velocity" type="double" value="-0.01" />
    <param name="max_effort" type="double" value="75" />
    <param name="max_expected" type="double" value="11.5" />
    <param name="min_expected" type="double" value="-11.5" />
    <param name="max_position" type="double" value="0.087" />
    <param name="min_position" type="double" value="0.001" />
    <param name="timeout" type="double" value="120" />
    <param name="tolerance" type="double" value="0.25" />
    <param name="sd_max" type="double" value="0.10" />

    <group ns="velocity_controller" clear_params="true">
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="r_gripper_joint" />
      <param name="pid/p" type="double" value="4000.0" />
      <param name="pid/i" type="double" value="25000.0" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="38.0" />
    </group>
  </group>
  
  <node pkg="pr2_controller_manager" type="spawner.py"
        name="$(anon hyst_spawner)" args="test_controller" />
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py"
        name="hyst_analysis" />
</launch>
