<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/forearm_roll.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Use MotorJointCal unless we have cal flag, we should have cal flag -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_r_forearm_roll" name="cal_forearm_roll" output="screen" />

  <!-- Controllers -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_joint_effort_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="--wait-for=calibrated r_forearm_roll_effort_controller" name="forearm_roll_spawner" />
  <!-- Upperarm commander used, only commanding FA roll -->
  <node machine="test_host" pkg="life_test"
        type="upperarm_cmder.py" name="cmder" />

  <!-- Packet drop test node -->
  <node pkg="ectools" type="ecstats" name="ecstats"
        machine="test_host_root" args="-j4 -ieth2" />
  
  <!-- Monitor, checks etherCAT, transmission, slip ring packets  -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" machine="test_host" > 
    <rosparam command="load"
              file="$(find life_test)/slip_ring_test/slip_ring_listeners.yaml" />
  </node>
</launch>
