<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="CheckoutController" />
    <param name="timeout" type="double" value="30.0" />
  </group>

  <node pkg="qualification" type="visual_verifier.py" args="$(find qualification)/tests/head_test/view.vcg" name="visualizer" />

  <node pkg="pr2_controller_manager" type="spawner"
        name="spawner" args="test_controller" />
  
  <node pkg="qualification" type="robot_checkout.py" name="checkout" />
</launch>
