<launch>
 <include file="$(find qualification)/tests/head_test/hysteresis_head_tilt.launch" />

  <group ns="test_controller" clear_params="true">
    <param name="max_expected" type="double" value="2.0" />
    <param name="min_expected" type="double" value="0.2" />
    <param name="max_position" type="double" value="1.31" />
    <param name="min_position" type="double" value="-0.39" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.15" />
    <param name="sd_max" type="double" value="0.20" />
    <param name="slope" type="double" value="-2.0" />
  </group>
</launch>
