<launch>
  <!-- Runs the test on or off the test cart. -->
  <!-- May need to put in to to scripts folder -->
  <node pkg="life_test" type="run_head_test.py" />
  
  <group ns="head_controller" clear_params="true">
     <param name="pan_link_name" type="string" value="head_pan_link" />
     <param name="tilt_link_name" type="string" value="head_tilt_link" />
     <param name="pan_output" type="string" value="head_pan_joint_position_controller" />
     <param name="tilt_output" type="string" value="head_tilt_joint_position_controller" />
  </group>

  <node pkg="mechanism_control" type="spawner.py" args="$(find life_test)/head_test/life_test/test_controller.xml" />

  <node pkg="life_test" type="laser_test.bash" />
</launch>