<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find life_test)/head_test/life_test/head.xml'" />

  <node machine="test_host_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robotdesc/pr2"/>

  <!-- Calibration -->
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="$(find life_test)/head_test/cal_head.xml"
        output="screen" />
 
  <include file="$(find life_test)/head_test/life_test/life_test.launch" />

  <node pkg="life_test" type="ethercat_test_monitor.py" args="$(find life_test)/head_test/head_trans.csv" />


</launch>
