<launch>
  <!-- Robot desc and etherCAT -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_description)/robots/gripper.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load" file="$(find pr2_default_controllers)/pr2_calibration_controllers.yaml" />
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="cal_r_gripper" name="cal_grip" output="screen" />

  <!-- Controller -->
  <group ns="r_gripper_effort_controller" >
    <param name="type" type="str" value="JointEffortController" />
    <param name="joint" type="str" value="r_gripper_joint" />
  </group>
  <node pkg="pr2_controller_manager" type="spawner"
        args="r_gripper_effort_controller" name="grip_spawn"
        output="screen" />

  <!-- Commander -->
  <node pkg="life_test" type="gripper_effort_controller.py"
        args="r_gripper_effort_controller" machine="test_host"
        name="grip_cmder" />

  <!-- Monitor -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" machine="test_host" >
    <rosparam command="load" file="$(find life_test)/gripper_test/gripper_listeners.yaml" />
  </node>
</launch>
