<launch>
  <!-- Arm tests -->
  <!--  <include file="$(find life_test)/arm_life_test/arm_life_test.launch" /> -->

  <!-- Torso controller -->
  <rosparam command="load" file="$(find pr2_controller_configuration)/pr2_joint_velocity_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="--wait-for=calibrated torso_lift_velocity_controller" name="torso_vel_spawner" />
  <node pkg="life_test" type="torso_cmder.py"
         name="torso_cmder" />
  <node name="torso_traj_unspawner" pkg="pr2_controller_manager" type="unspawner"
        args="torso_controller" />

  <!-- Head moving -->
  <node pkg="life_test" type="head_cmder.py" name="head_cmder" />
  <rosparam command="load"
            file="$(find life_test)/head_test/pr2_head_position_controller.yaml" />
  <node name="head_position_controller_spawner" pkg="pr2_controller_manager"
        type="spawner" args="--wait-for=calibrated head_controller" />
  <node name="head_traj_unspawner" pkg="pr2_controller_manager" type="unspawner"
        args="head_traj_controller" />
  
  <!-- Laser tilt, controller is up by default -->
  <node pkg="life_test" type="laser_traj_cmd.py"
        name="laser_cmder" args="laser_tilt_controller" />
  
  <!-- Gripper Controller -->
  <!--
  <group ns="r_gripper_effort_controller" >
    <param name="type" type="str" value="JointEffortController" />
    <param name="joint" type="str" value="r_gripper_joint" />
  </group>
  <node pkg="pr2_controller_manager" type="spawner"
        args="r_gripper_effort_controller" name="grip_spawn"
        output="screen" />
  -->

  <node pkg="hot_box_test" type="base_shuffle.py" args="0.5" name="base_shuffle" />

  <!-- Projector on -->
  <include file="$(find pr2_camera_synchronizer)/projector_on.launch" />
</launch>
