<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robot_motors/forearm_roll_motor.urdf.xacro'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <group ns="cal_r_forearm_roll_motor" >
    <param name="type" type="string" value="JointCalibrationController" />
    <param name="joint" type="string" value="r_forearm_roll_motor_joint" />
    <param name="actuator" type="string" value="r_forearm_roll_motor" />
    <param name="transmission" type="string" value="r_forearm_roll_trans" />
    <param name="velocity" type="double" value="-1.2" />
    <group ns="pid" >
      <param name="p" type="double" value="5.0" />
      <param name="i" type="double" value="0.0" />
      <param name="d" type="double" value="0.0" />
      <param name="i_clamp" type="double" value="0.0" />
    </group>
  </group>
    <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_r_forearm_roll_motor" name="cal_r_forearm_roll_motor" output="screen" />
</launch>
