<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robot_motors/forearm_roll_motor.urdf.xacro'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <group ns="cal_motor" >
    <param name="type" type="str" value="MotorJointCalibrationController" />
    <param name="joint" type="str" value="laser_tilt_motor_joint" />
  </group>
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="cal_motor" name="cal_motor" output="screen" />
</launch>
