<launch> 
  <include file="$(find qualification)/tests/upperarm_test/hysteresis_elbow_flex.launch" />

  <group ns="test_controller" >
    <param name="max_effort" type="double" value="2.0" />
    <param name="max_expected" type="double" value="0.66" />
    <param name="min_expected" type="double" value="-0.76" />
    <param name="max_position" type="double" value="-0.16" />
    <param name="min_position" type="double" value="-2.05" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.10" />
    <param name="sd_max" type="double" value="0.18" />
  </group>
</launch>
