<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <node machine="test_host_root" pkg="qualification" name="upperarm_prog"
        type="mcb_prog_conf.py" args="-p -n 2" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" output="screen"/>
</launch>
