<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="CheckoutController" />
    <param name="timeout" type="double" value="30.0" />
  </group>
  
  <node pkg="qualification" type="visual_verifier.py" name="visual_ok"
        args="$(find qualification)/tests/upperarm_test/view.vcg" />
  
  <node pkg="pr2_controller_manager" type="spawner"
        name="test_spawner" args="test_controller" />
  
  <node pkg="qualification" type="robot_checkout.py" name="upperarm_checkout" />
</launch>
