<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/pr2_shoulder_upperarm.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_r_shoulder_pan cal_r_shoulder_lift cal_r_upper_arm_roll cal_r_elbow_flex cal_r_forearm_roll"
        name="cal_shoulder" output="screen" />

  <!-- Controllers -->
  <include file="$(find life_test)/shoulder_ua_test/right_arm_controller.launch" />

  <!-- WGE100 cam -->
  <include file="$(find life_test)/wge100.launch" />

  <!-- Monitor (with transmission checker) -->
  <node pkg="pr2_hardware_test_monitor" type="pr2_hw_test_monitor"
        name="monitor" machine="test_host" >
    <rosparam command="load"
              file="$(find life_test)/shoulder_ua_test/shoulder_ua_listeners.yaml" />
  </node>
</launch>
