<launch>
  <include file="$(find qualification)/tests/forearm_cam_test/ethercat.launch" />
  
  <group ns="forearm">
    <param name="camera_url" type="str" value="any://@192.168.202.2#eth2"/>
    <param name="ext_trig" type="bool" value="True"/>
    <param name="video_mode" type="str" value="320x240x60"/>
    <param name="do_colorize" type="bool" value="True"/>
    <param name="do_rectify" type="bool" value="False"/>
    <param name="trig_controller" type="string" value="trig_controller"/>
    <param name="trig_rate" type="double" value="57"/>
    <param name="trig_phase" type="double" value="0"/>
    <param name="auto_gain" type="bool" value="False" />
    <param name="gain" type="int" value="64" />
    <param name="auto_exposure" type="bool" value="False" />
    <param name="exposure" type="double" value="0.010" />
  </group>
  <node name="forearm" pkg="forearm_cam" type="forearm_node" respawn="false" output="screen"/>
  
  <node name="led_flash_test" pkg="qualification" type="led_flash_test" respawn="false" output="screen">
    <param name="rate" type="double" value="40.13"/>
    <param name="min_low" type="double" value="-0.030"/>
    <param name="max_low" type="double" value="-0.013"/>
    <param name="min_high" type="double" value="-0.009"/>
    <param name="max_high" type="double" value="-0.004"/>
    <param name="skip" type="int" value="10"/>
    <param name="tolerance" type="int" value="1" />
    <param name="frames" type="int" value="300"/>
    <remap from="image" to="/forearm/image_raw"/>
  </node>
</launch>
