<launch>
  
  <!-- Camera -->
  <group ns="forearm_cam">
    <param name="if_name" type="str" value="eth2"/>
    <param name="ip_address" type="str" value="192.168.202.2"/>
    <param name="serial_number" type="int" value="7"/>
    <param name="video_mode" type="str" value="320x240x30"/>
    <param name="ext_trigger" type="bool" value="False"/>
    <param name="exit_on_fault" type="bool" value="true"/>
  </group>
  <node name="forearm_cam" pkg="forearm_cam" type="forearm_node" respawn="false" output="screen"/>

  <!-- Self Test -->
  <node pkg="qualification" type="run_selftest.py">
        <remap from="node_name" to="forearm_cam"/>
  </node>

</launch>

