<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/wrist_gripper.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load"
            file="$(find pr2_default_controllers)/pr2_calibration_controllers.yaml" />
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="cal_r_wrist cal_r_gripper" name="cal_wrist" output="screen" />

  <!-- Load wrist effort controllers -->
  <rosparam command="load"
            file="$(find pr2_default_controllers)/pr2_joint_effort_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner.py"
        args="r_wrist_flex_effort_controller r_wrist_roll_effort_controller r_gripper_effort_controller"
        name="$(anon wrist_spawner)" />

  <!-- Commander -->
  <node pkg="life_test" type="wrist_test.py"
        name="wrist_commander" machine="test_host" />

  <!-- Monitor (with transmission checker) -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" machine="test_host" >
    <rosparam command="load"
              file="$(find life_test)/wrist_test/wrist_listeners.yaml" />
  </node>

  <!-- WGE100 cam -->
<!--
  <include file="$(find life_test)/wrist_test/wge100.launch" />
-->

</launch>
