<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/wrist_gripper.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <group ns="cal_r_fake_gripper" >
    <param name="type" type="string" value="MotorJointCalibrationController" />
    <param name="joint" type="string" value="r_gripper_fake_joint" />
  </group>
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_r_wrist cal_r_fake_gripper" name="cal_wrist" output="screen" />

  <!-- Load wrist effort controllers -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_joint_effort_controllers.yaml" />

  <!-- Load wrist position controllers -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_joint_position_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="r_wrist_flex_position_controller r_wrist_roll_effort_controller r_gripper_effort_controller"
        name="$(anon wrist_spawner)" />

  <!-- Commander -->
  <node pkg="life_test" type="wrist_cmder.py"
        name="wrist_commander" machine="test_host"/>

  <!-- Monitor (with transmission checker) -->
  <node pkg="life_test" type="test_monitor.py"
        name="monitor" machine="test_host" >
    <rosparam command="load"
              file="$(find life_test)/wrist_test/wrist_listeners.yaml" />
  </node>

  <!-- WGE100 cam -->
<!--
  <include file="$(find life_test)/wrist_test/wge100.launch" />
-->

</launch>
