<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find life_test)/wrist_test/wrist.xml'" />

  <node machine="test_host_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robot_description"/>


  <!-- Calibration -->
  <!--
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="$(find life_test)/wrist_test/wrist_cal.xml"
        output="screen" />
-->	
  <node pkg="life_test" type="wrist_test.py" />

  <node pkg="life_test" type="ethercat_test_monitor.py" />


</launch>
