<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find life_test)/wrist_test/wrist.xml'" />

  <node machine="test_host_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robotdesc/pr2"/>

  <!-- Don't calibrate wrist attached to bar. -->

  <include file="$(find life_test)/wrist_test/life_test.launch" args="--bar" />

</launch>
