<launch> 
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    <param name="velocity" type="double" value="1.25" />
    <param name="max_effort" type="double" value="0.75" />
    <param name="max_expected" type="double" value="0.57" />
    <param name="min_expected" type="double" value="-0.57" />
    <param name="min_position" type="double" value="-1.97" />
    <param name="max_position" type="double" value="-0.125" />
    <param name="timeout" type="double" value="30" />
    <param name="tolerance" type="double" value="0.18" />
    <param name="sd_max" type="double" value="0.20" />
    
    <group ns="velocity_controller" >
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="r_wrist_flex_joint" />
      <param name="pid/p" type="double" value="4.0" />
      <param name="pid/i" type="double" value="25.0" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="1.0" />
    </group>
  </group>

  <node pkg="pr2_controller_manager" type="spawner" args="test_controller" name="spawner" />
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py" name="hyst_analysis" />
</launch>
