<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <node machine="realtime" pkg="qualification" type="mcb_prog_conf.py"
        args="-p -n 2" name="mcb_prog_conf" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" />
</launch>
