<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/wrist.urdf.xacro'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Wrist Calibration -->
  <rosparam command="load" file="$(find pr2_default_controllers)/pr2_calibration_controllers_beta.yaml" />
  <node pkg="mechanism_bringup" type="calibrate.py" output="screen" 
	args="cal_r_wrist" name="cal_r_wrist" />
</launch>
