<launch>
  <include file="$(find qualification)/onboard/full_arm_test/hold_arms.launch" />

  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="HysteresisController" />
    <param name="velocity" type="double" value="1.5" />
    <param name="max_effort" type="double" value="1.0" />
    <param name="max_expected" type="double" value="0.50" />
    <param name="min_expected" type="double" value="-0.65" />
    <!-- Also different bwt L/R joints -->
    <param name="max_position" type="double" value="3.4" />
    <param name="min_position" type="double" value="-0.64" />
    <param name="timeout" type="double" value="30" />

    <group ns="velocity_controller" clear_params="true">
      <param name="type" type="string" value="JointVelocityController" />
      <param name="joint" type="string" value="none" />
      <param name="pid/p" type="double" value="10.0" />
      <param name="pid/i" type="double" value="1.5" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="1.2" />
    </group>
  </group>

  <node pkg="qualification" type="full_arm_test_spawner.py" args="test_controller SIDE_upperarm_roll_joint test_controller/velocity_controller/joint" />
  
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py" />
</launch>
