<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="mcb_prog_conf.py" args="-c -n 3 --motor=br_caster_r_wheel_motor_alpha2,0 --motor=br_caster_l_wheel_motor_alpha2,1 --motor=br_caster_rotation_motor_alpha2,2" />

  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
