<launch>
  <include file="$(find qualification)/tests/init.machine" />
 
  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification"
        type="mcb_prog_conf.py" name="head_conf"
        args="-c -n 2 --motor=head_pan_motor,0 --motor=head_tilt_motor,1" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" output="screen"/>
</launch>
