<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- Configure MCB -->
  <node machine="realtime" pkg="qualification" name="l_grip_conf"
        type="mcb_prog_conf.py" args="-c -n 1 --motor=l_gripper_motor,0" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" name="confirm_conf" />
</launch>
