<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="mcb_prog_conf.py" args="-c -n 3 --motor=l_shoulder_pan_motor,0 --motor=l_shoulder_lift_motor,1 --motor=l_upper_arm_roll_motor,2" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
