<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification"
        name="l_wrist_conf" type="mcb_prog_conf.py"
        args="-c -n 2 --motor=l_wrist_l_motor,0 --motor=l_wrist_r_motor,1" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" output="screen"/>
</launch>
