<launch>
  <include file="$(find qualification)/tests/init.machine" />
 
  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification"
        type="mcb_prog_conf.py" name="led_projector_conf"
        args="-c -n 1 --motor=led_projector,0" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" output="screen"/>
</launch>
