<launch>
 <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="mcb_prog_conf.py" args="-c -n 2 --motor=r_elbow_flex_motor,0 --motor=r_forearm_roll_motor,1" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
