<launch>

  <node pkg="test_pr2_self_test" type="selftest_demo" name="example" />

  <node pkg="qualification" type="run_selftest.py" name="selftest_caller" >
    <remap from="node_name" to="example" />
  </node>

  <test test-name="check_self_test" time-limit="120"
        pkg="test_pr2_self_test" type="check_pr2_self_test.py" name="check_pr2_self_test" />
  
</launch>
