<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/pr2_arm.urdf.xacro'" />

  <!-- Load this parameter to make everything compatible with full_arm_test -->
  <param name="full_arm_test/side" value="r" type="str" />

  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load" file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py" 
  	output="screen" name="full_arm_cal"
	args="cal_r_shoulder_pan cal_r_shoulder_lift cal_r_upper_arm_roll cal_r_elbow_flex cal_r_forearm_roll cal_r_wrist cal_r_gripper" />
 
</launch>
