<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="CheckoutController" />
    <param name="timeout" type="double" value="30.0" />
  </group>

  <node pkg="qualification" type="visual_verifier.py" name="visualizer"
        args="$(find qualification)/tests/full_arm_test/view.vcg" />
    
  <node pkg="pr2_controller_manager" type="spawner"
        name="checkout_spawner" args="test_controller" />
    
  <node pkg="qualification" type="robot_checkout.py"
        name="robot_checkout" >
    <rosparam command="load"
              file="$(find qualification)/tests/full_arm_test/shoulder_ua_check_data.yaml" />
  </node>
</launch>
