<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/pr2_shoulder_upperarm_left.urdf.xacro'" />

  <!-- Load this parameter to make everything compatible with full_arm_test -->
  <param name="full_arm_test/side" value="l" type="str" />

  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py" 
  	output="screen" name="full_arm_cal"
	args="cal_l_shoulder_pan cal_l_shoulder_lift cal_l_upper_arm_roll cal_l_elbow_flex cal_l_forearm_roll" />

   <!-- Uses eth2 to run wge100 camera -->
   <include file="$(find qualification)/tests/wge100_component.launch" />
</launch>
