<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_component_descriptions)/robots/caster.urdf.xacro'" />

  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration and velocity controllers -->
  <rosparam command="load" file="$(find pr2_controller_configuration)/pr2_calibration_controllers.yaml" />
  <node pkg="pr2_bringup" type="calibrate.py"
        args="cal_caster_fl" name="cal_caster" output="screen" />
  
  <!-- Controller, velocity controller -->
  <rosparam command="load" file="$(find life_test)/caster_test/caster_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="--wait-for=calibrated caster_fl" name="$(anon caster_spawner)" />

  <!-- Commander -->
  <node pkg="life_test" type="caster_cmder.py"
        name="caster_cmder" machine="test_host"/>

  <!-- Monitor (with transmission) -->
  <node pkg="pr2_hardware_test_monitor" type="pr2_hw_test_monitor"
        name="monitor" machine="test_host" >
    <rosparam command="load"
              file="$(find life_test)/caster_test/caster_listeners.yaml" />
  </node>

</launch>
