<launch>

  <!-- Loads realtime machine -->
  <include file="$(find qualification)/tests/init.machine" />

  <!-- Start Power GUI and power node -->
  <node pkg="pr2_power_board" type="power_node" name="power_board" required="true"/>
  <node pkg="pr2_power_board" type="view_power" name="$(anon view_power)" required="true"/>

  <!-- Start ecstats -->
  <node machine="realtime" pkg="ectools" name="ecstats" type="ecstats" args="-i eth0" required="true"/>
  <!--<node pkg="qualification" type="done.py" name="$(anon done)" required="true"/>-->

</launch>
