<launch>
  <node pkg="life_test" type="fake_component.py" name="fake_component" />
  
  <node pkg="life_test" type="test_monitor.py" name="monitor" >
    <rosparam command="load" file="$(find life_test)/unit_test/simulators/fake_listeners.yaml" />
  </node>

  <!-- Asserts we are getting good data from the camera, motors, and transmissions -->
  <test test-name="monitor_listen" pkg="life_test" name="test_monitor"
        type="monitor_listen_test.py" time-limit="30" />
</launch>
